.header-center-container{
    width: 100%;
    padding: 0 20px;
    height: 70px;
}

.header-center{
    margin: 0 auto;
    width: 100%;
    max-width: var(--content-mx-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header-logo img{
    object-fit: contain;
}

.header-center-call-button{
    width: auto;
    background: var(--color-1);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 50px;
}

.header-center-call-button span,
.header-center-call-button p{
    color: var(--white);
}

.header-center-call-button span{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    color: var(--color-1);
    border-radius: 100%;
    font-size: 15px;
}

.header-center-call-button p{
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
}

.menu-button{
    display: none;
}

.favorites-button{
    color: var(--color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-1);
    width: 46px;
    height: 46px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.favorites-button span{
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .header-center-container{
        height: auto;
    }

    .header-center{
        padding: 10px 0;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .header-logo img{
        height: 40px;
        object-fit: contain;
    }

    .header-center > div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-center-call-button{
        display: none;
    }

    .menu-button{
        position: relative;
        display: flex;
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background: rgba(255 0 0 / 0.075)
    }

    .menu-button span{
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        color: var(--color-1);
        transition: var(--t-200ms-linear);
    }

    .menu-button span:nth-child(2){
        scale: 0;
    }

    .menu-button.active span:nth-child(2){
        scale: 1;
    }

    .menu-button.active span:nth-child(1){
        scale: 0;
    }

    .favorites-button{
        display: none;
    }
}
