.product-page-location-button{
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: var(--t-200ms-linear);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

.product-page-location-button span{
    margin-bottom: auto !important;
    font-size: 32px;
    color: var(--color-1);
}

.product-page-location-button > div p.text.margin-right{
    color: #777777;
    font-style: italic;
    font-size: 15px;
}

@media screen and (max-width: 600px){
    .product-page-locations{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .product-page-location-button{
        gap: 5px;
    }

    .product-page-location-button span{
        font-size: 30px;
    }
}
