/* .block-container-destacados{
    padding: 40px 20px;
    background: var(--color-1);
}

.block-content-destacados > div > h4{
    margin: auto !important;
    color: var(--white) !important;
}

.block-content-destacados > div > h4::selection{
    background: var(--white);
    color: var(--color-1);
}

.destacados-productos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

@media screen and (max-width: 600px){
    .block-container-destacados{
        padding: 20px 10px !important;
    }

    .destacados-productos{
        grid-template-columns: repeat(2, 1fr);
    }
} */

.featured-products-block-container{
    padding: 40px 20px;
    background: rgba(0 0 0 / 0.075);
}

.banner-title{
    font-size: 19px;
    color: var(--color-1);
    text-transform: uppercase;
    font-weight: bold;
}

.featured-products-container{
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}

.featured-products-container::-webkit-scrollbar{
    display: none;
}

.featured-products{
    width: 100%;
    display: flex;
}

.featured-products ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
