.product-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.product-details ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.product-details ul li{
    display: flex;
    gap: 5px;
}

.product-details ul li div{
    display: inline-block;
}

.product-details ul li div strong{
    color: #000000;
    font-weight: bold;
    display: inline-block;
}

.product-details ul li div strong::first-letter{
    text-transform: uppercase;
}

.product-details ul li div p{
    color: var(--text);
    display: inline-block;
}

.product-details ul li div p::first-letter{
    text-transform: uppercase;
}
