.filtros-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtros-top-helpers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.filtros-top-helpers .toggle-btn{
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    border-radius: 4px;
    border: 1px solid var(--component);
    position: relative;
}

.filter-grid::before{
    content: 'Cuadricula';
}

.filter-list::before{
    content: 'Lista';
}

.filtros-top-helpers .toggle-btn span{
    color: var(--text);
    transition: var(--t-200ms-linear);
}

.filtros-top-helpers .toggle-btn:hover span{
    color: var(--color-1);
}

.filtros-top-helpers .toggle-btn::before{
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    background: var(--color-1);
    border-radius: 0 10px 10px 10px;
    padding: 3px 5px;
    padding-right: 6px;
    z-index: 1;
    font-size: 10px;
    color: var(--white);
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.filtros-top-helpers .toggle-btn:hover::before{
    opacity: 1;
}

.filtros-top-helpers .toggle-btn.active{
    background: var(--color-1);
}

.filtros-top-helpers .toggle-btn.active span{
    color: var(--white);
}

.filtros-top-helpers .toggle-btn.active:hover span{
    color: var(--white);
}

.order-filter-container{
    display: flex;
    width: auto;
    height: 40px;
    position: relative;
}

.order-filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--component);
    border-radius: 3px;
    padding: 0 5px;
}

.order-filter-button > div span{
    font-size: 18px;
    rotate: 90deg;
}

.order-filter-button > span{
    font-size: 20px;
}

.order-filter-options{
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    z-index: 49;

    width: 250px;
    background: var(--white);
    border: 1px solid var(--component);
    overflow: hidden;
    border-radius: 3px;
}

.order-filter-options li{
    display: flex;
    width: 100%;
}

.order-filter-option-button{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: var(--t-200ms-linear);
    padding: 0 10px;
    gap: 10px;
}

.order-filter-options li button:hover{
    background: var(--component);
}
