.header-bottom-container{
    width: 100%;
    padding: 0 20px;
    background: #5E5E5E;
    display: flex;
}

.header-bottom{
    margin: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-li-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link{
    width: auto;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
}

.menu-link:hover{
    background: rgba(255 255 255 / 0.25);
}

.menu-link h2{
    color: var(--white);
}

.menu-link:nth-last-child(1){
    background: var(--color-1);
}

.menu-link-button{
    display: none;
}

.submenu-container{
    position: fixed;
    left: 0;
    top: 160px;
    width: 100%;
    height: auto;
    padding: 20px;
    background: var(--header);
    transition: var(--t-200ms-linear);
    display: flex;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.menu-li:hover .submenu-container,
.menu-li.active .submenu-container{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
    box-shadow: 0 6px 6px rgba(0 0 0 / 0.25);
}

.submenu{
    margin: auto;
    width: 100%;
    max-width: var(--content-mx-width);
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.submenu-target{
    min-width: 180px;
}

.submenu-target-1{
    width: 100%;
    max-width: 420px;
}

.submenu-target-title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000000;
}

.submenu-target > ul li{
    display: flex;
}

.submenu-target > ul li a{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3px;
}

.submenu-target > ul li a::before{
    content: '>';
}

.submenu-target > ul li a h4,
.submenu-target > ul li a::before{
    color: var(--text);
    transition: var(--t-100ms-linear);
}

.submenu-target > ul li a:hover h4,
.submenu-target > ul li a:hover::before{
    color: var(--color-1);
}

@media screen and (max-width: 600px){
    .header-bottom-container{
        position: fixed;
        left: 100%;
        top: 168px;
        width: 100%;
        height: calc(100vh - 165px);
        background: var(--header);
        transition: var(--t-200ms-linear);
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .header-bottom-container::before{
        content: 'dormihogar.pe';
        margin: auto auto 20px auto;
        padding-top: 20px;
    }

    .header-bottom-container.active{
        left: 0;
    }

    .header-bottom{
        margin: unset;
        width: 100%;
    }

    .menu-container{
        width: 100%;
    }

    .menu{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .menu-li{
        width: 100%;
    }

    .menu-li.active{
        background: rgb(255 0 0 / 0.075);
    }

    .menu-li-div{
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .menu-link{
        padding: 0;
    }

    .menu-link h2{
        color: var(--text);
    }

    .menu-li.active .menu-li-div .menu-link h2{
        color: var(--color-1);
    }

    .menu-link-button{
        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0 -50%;
        display: flex;
        color: var(--color-1);
        transition: var(--t-200ms-linear);
    }

    .menu-li.active .menu-li-div .menu-link-button{
        rotate: -180deg;
    }

    .menu-li-div:nth-last-child(1){
        padding: 0;
    }

    .submenu-container{
        position: unset;
        left: unset;
        top: unset;
        width: 100%;
        height: 0;
        padding: 0 20px;
        display: flex;
        overflow: hidden;
        opacity: 1;
        pointer-events: unset;
        user-select: unset;
        interpolate-size: allow-keywords;
    }

    .menu-li.active .submenu-container{
        padding: 20px;
        height: auto;
        box-shadow: none;
    }

    .submenu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .submenu-target{
        min-width: unset;
    }

    .submenu-target-1, .submenu-target-4{
        grid-column: 1/-1;
    }

    .submenu-target-1 .submenu-target-title{
        display: none;
    }

    .submenu-target-4{
        display: flex;
    }

    .submenu-target-4 img{
        margin: auto;
    }

    .menu-link:nth-last-child(1){
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 20px;
    }

    .menu-link:nth-last-child(1) h2{
        color: var(--white);
    }
}
