.product-page-color-select a{
    display: flex;
    width: auto;
    height: auto;
    border: 2px solid #999;
    transition: var(--t-200ms-linear);
    border-radius: 100%;
}

.product-page-color-select a:hover{
    border: 2px solid var(--color-1);
}

.product-page-color-select a img{
    display: flex;
    width: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.product-page-color-modal-container{
    position: fixed;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    width: 100%;
    height: 200px;
    max-width: var(--content-mx-width);
    padding: 20px;
    background: var(--white);
    box-shadow: 0 0 4px rgba(0 0 0 / 0.25);
    border-radius: 10px 10px 0 0;
    z-index: 102;
}

.all-colors-miniatures{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: calc(100% - 40px);
    max-width: var(--content-mx-width);
    height: auto;
    background: var(--body);
    border: 1px solid var(--component);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 8px;
    z-index: 999 !important;
    padding: 20px;

    display: none !important;
}

.all-colors-miniatures > div > img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.colors-layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 9999 !important;
    background: rgba(0 0 0 / 0.25);
}
