.product-page-color-select{
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.product-page-color-select div img{
    display: flex;
    width: 20px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.product-page-color-select div p{
    text-transform: lowercase !important;
    display: inline-block !important;
}

.product-page-color-select div p::first-letter{
    text-transform: uppercase !important;
}

.product-page-color-select span{
    font-size: 18px;
}
