.page-search-container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.page-search-left{
    width: 240px;
    /* background: orange; */
    border-right: 2px solid var(--component);
    /* padding: 10px; */
}

.pg-search-filters{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pg-search-fl-tag{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pg-search-fl-tag > ul{
    display: flex;
    flex-direction: column;
}

.pg-search-fl-tag > ul li button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3px;
}

.pg-search-fl-tag > ul li button p{
    display: inline-block;
}

.pg-search-fl-tag > ul li button p::first-letter{
    text-transform: uppercase;
}

.pg-search-results ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
