.page-search-content{
    display: grid;
    grid-template-columns: auto 1fr;
}

.filters-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-products{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-products li{
    display: flex;
    flex: 1 1 clamp(100px, calc(calc(100% / 5) - calc(40px / 5)), 100%) !important;
    max-width: calc(calc(100% / 5) - calc(40px / 5)) !important;
    height: 400px;
}

.search-products li .product-card{
    max-width: none !important;
}

.pagination-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pagination-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-arrow span{
    font-size: 30px;
    color: var(--text);
}

.pagination-page{
    width: 36px;
    height: auto;
    aspect-ratio: 1/1;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    border-radius: 4px;
}

.pagination-page.active{
    background: var(--color-2);
    color: var(--white);
}

@media screen and (max-width: 600px){
    .search-products-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .search-products li{
        flex: unset;
        width: 100%;
        max-width: none !important;
        height: auto !important;
    }
}
