.benefist-container{
    width: 100%;
    padding: 20px 0;
    /* padding-right: 10px; */
    /* background: rgba(0 0 0 / 0.05); */
    /* border-radius: 4px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.benefist-container li{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 5px;
}

.benefist-container li span{
    color: var(--color-1);
    font-size: 32px;
}
