.product-page-gifts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background: var(--component);
    border-radius: 4px;
}

.product-page-gifts ul li{
    margin-right: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.product-page-gifts ul li::before{
    content: '🔴';
    filter: brightness(0);
    font-size: 5px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: none;
}

.product-page-gifts ul li div{
    position: absolute;
    left: calc(100% + 5px);
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    background: var(--white);
    transition: var(--t-200ms-linear);
    z-index: 1;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.product-page-gifts ul li:hover div{
    opacity: 1;
}

.product-page-gifts ul li:hover div img{
    display: flex;
    width: 50px;
    height: auto;
}
