.product-page-gifts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.product-page-gifts ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    position: relative;
}

.product-page-gifts ul li img{
    display: flex;
    width: 48px;
    height: auto;
    aspect-ratio: 1/1;
}
