.search-bar-button{
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-1);
    width: 42px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.search-bar-button span{
    color: var(--white);
}

.barra-de-busqueda{
    display: flex;
    width: auto;
    height: 100%;
    position: relative;
}

.close-icon{
    background: var(--color-2);
    color: var(--white) !important;
    cursor: pointer;
}

.search-bar-container{
    width: 360px;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: var(--t-200ms-linear);

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.search-bar-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.search-bar{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr auto;
    background: var(--white);
    overflow: hidden;
}

.search-bar input{
    width: 100%;
    height: 48px;
    border: 0;
    outline: 0;
    padding: 0 0 0 10px;
    background: var(--white);
}

.search-bar span{
    width: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.search-bar-items-container{
    background: var(--header);
    width: 100%;
    height: auto;
    max-height: 500px;
    transition: var(--t-200ms-linear);
    overflow-y: auto;
}

.search-bar-items-container::-webkit-scrollbar{
    width: 4px;
    background: var(--white)
}

.search-bar-items-container::-webkit-scrollbar-thumb{
    background: var(--color-1);
}

.search-bar-items-container.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.search-bar-items{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.search-bar-items li a{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    transition: var(--t-200ms-linear);
    border-radius: 4px;
    gap: 5px;
}

.search-bar-items li a:hover{
    background: rgba(0 0 0 / 0.05);
}

.search-bar-items li a p{
    color: var(--text);
    font-size: 14px;
}

.search-bar-items li a img{
    width: 60px;
    aspect-ratio: 1/1;
    border-radius: 3px;
}

.search-bar-items li a p:nth-child(2){
    font-size: 10px;
    font-weight: bold;
    color: #999;
}

.search-bar-layer{
    position: fixed;
    left: 0;
    top: 96px;
    width: 100%;
    height: calc(100vh - 96px);
    background: rgba(0 0 0 / 0.5);
    transition: var(--t-200ms-linear);
    backdrop-filter: blur(2px);
    z-index: -1;

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.search-bar-layer.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

@media screen and (max-width: 600px){
    .barra-de-busqueda{
        margin-left: auto;
    }

    .search-bar-container{
        position: fixed;
        left: 0;
        top: 96px;
        width: 100vw;
    }

    .search-bar-button{
        margin-left: auto;
        width: 48px;
        height: 48px;
        background: rgba(0 0 0 / 0.05);
    }

    .search-bar-button span{
        font-size: 32px;
        color: var(--color-1);
    }

    .search-bar input{
        height: 60px;
    }

    .search-bar-items-container{
        width: calc(100% + 40px);
        left: -20px;
        border: 0;
        padding: 0 20px;
        padding-top: 0;
        border-radius: 0;
    }

    .search-bar-items li a img{
        width: 80px;
    }

    .search-bar-layer{
        top: 110px;
        height: calc(100vh - 110px);
    }
}
