.search-bar-container{
    position: relative;
}

.search-bar-input-container{
    position: relative;

    width: auto;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: left;

    border: 1px solid var(--component);
    border-radius: 4px;
    overflow: hidden;
}

.search-bar-input-container span{
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-1);
}

.search-bar-input-container input{
    width: 240px;
    height: 100%;
    border: 0;
    outline: 0;
    color: var(--black);
}

.search-bar-input-container input::placeholder{
    /* color: var(--component); */
    color: #D0D0D0;
    font-size: 15px;
}

.search-bar-results-container{
    position: absolute;
    right: 0;
    top: calc(100% + 20px);

    background: var(--body);
    border: 1px solid var(--component);
    box-shadow: 0 0 3px rgba(0 0 0 / 0.075);
    border-radius: 4px;

    width: calc(100% + 40px);
    height: auto;
    max-height: 320px;

    z-index: 1;

    overflow-y: auto;

    display: none;
    user-select: none;
    pointer-events: none;
}

.search-bar-results-container.active{
    display: unset;
    user-select: unset;
    pointer-events: unset;
}

.search-bar-results{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
}

.search-bar-results li{
    display: flex;
    width: 100%;
}

.search-bar-result{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    transition: var(--t-200ms-linear);
}

.search-bar-result div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.search-bar-result:hover{
    background: rgba(0 0 0 / 0.025);
}

.search-bar-result-cat{
    font-size: 10px;
    color: var(--color-1);
    text-transform: uppercase;
    font-weight: bold;
}

.search-bar-result .text{
    color: var(--text);
    font-size: 14px;
    text-transform: uppercase;
}

.search-bar-result-sku{
    font-size: 11px;
    color: var(--color-1);
    font-weight: bold;
    text-transform: uppercase;
}

.search-bar-result img{
    width: 64px;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.search-bar-layer{
    position: fixed;
    left: 0;
    top: 96px;
    display: flex;
    width: 100vw;
    height: calc(100vh - 96px);
    background: rgba(0 0 0 / 0.025);
    backdrop-filter: blur(2px);

    display: none;
    user-select: none;
    pointer-events: none;
}

.search-bar-layer.active{
    display: unset;
    user-select: unset;
    pointer-events: unset;
}

.search-bar-empty-message{
    padding: 20px 10px;
}
