:root{
    --product-card-images-height: 220px;
}

.product-card-li{
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 15px;
    background: var(--product);
    border: 1px solid rgba(0 0 0 / 0.25) !important;
    transition: var(--t-200ms-linear) !important;
    overflow: hidden !important;
}

.product-card-li:hover{
    border: 1px solid var(--color-1) !important;
}

.product-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 280px;
    position: relative;
}

.product-card-button-fav{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--t-200ms-linear);
    opacity: 0;
    pointer-events: none;
    user-select: none;
    z-index: 10;

    display: none !important;
}

.product-card-li:hover .product-card .product-card-button-fav{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.product-card-button-fav span{
    /* font-size: 20px; */
    color: crimson;
}

.product-card-button-fav:hover,
.product-card-button-fav.active{
    opacity: 1;
    pointer-events: unset;
    user-select: unset;
}

.product-card-images{
    background: var(--white);
    display: flex;
    width: 100%;
    height: var(--product-card-images-height);
    position: relative;
    padding: 10px;
}

.product-card-discount{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
    background: var(--color-1);
    color: var(--white);
    padding: 4px 8px;
    border-radius: 25px;
    font-weight: bold;
    z-index: 2;
}

.product-card-images > a{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-card-images > a img{
    margin: auto;
    display: flex;
    max-width: 200px;
    height: auto;
    object-fit: contain;
    transition: var(--t-200ms-linear);
}

.product-card:hover .product-card-images > a img{
    scale: 1.05;
}

.product-card-content{
    width: 100%;
    height: calc(100% - var(--product-card-images-height));
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    position: relative;
}

.product-card-ofert{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #AE0F30;
    padding: 3px 6px;
    border-radius: 3px;
}

.product-card-ofert span{
    font-size: 11px;
    color: var(--white);
    font-weight: bold;
}

.product-card-brand{
    text-transform: uppercase;
    color: var(--color-1);
    font-size: 12px;
    font-weight: bold;
}

.product-card-prices{
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.product-card-regular-price{
    font-weight: bold;
    font-size: 13px;
    color: crimson;
}

.product-card-regular-price,
.product-card-normal-price{
    text-decoration: line-through;
}

.product-card-normal-price{
    font-size: 19px;
    color: #777;
}

.product-card-sale-price{
    color: var(--color-1);
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
}

.product-card-sale-price-offer{
    text-decoration: line-through;
    font-size: 17px;
}

.product-card-sale-price-final{
    color: crimson;
    font-size: 22px;
    font-weight: bold;
    margin-left: auto;
}

.hot-sale{
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 10;
    background: #FF6D38;
    background: linear-gradient(180deg, #FF6D38 50%, #FF0000 100%);
    padding: 3px 5px;
    padding-left: 8px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    pointer-events: none;
    user-select: none;
}

.hot-sale span{
    font-size: 11px;
    color: var(--white);
    font-weight: bold;
}

.hot-sale span.material-symbols-outlined{
    font-size: 18px;
    font-weight: unset;
}

.product-card-tipo-de-envio{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 10;

    width: auto;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    border-radius: 100px;

    pointer-events: none;
    user-select: none;
}

.product-card-tipo-de-envio span{
    font-size: 12px;
}

.product-card-tipo-de-envio.envio-gratis{
    background: #6BEB6F50;
}

.product-card-tipo-de-envio.envio-gratis span{
    color: green;
    font-weight: bold;
}

.product-card-tipo-de-envio.envio-preferente{
    background: blue;
}

.product-card-tipo-de-envio.envio-preferente span{
    color: var(--white);
}

.product-card-tipo-de-envio.envio-aplicado{
    background: var(--aplicado);
}

.product-card-tipo-de-envio.envio-aplicado span{
    color: var(--white);
}

.product-card-tipo-de-envio.envio-preferente,
.product-card-tipo-de-envio.envio-aplicado{
    display: none;
}

.product-card-separar{
    position: absolute;
    left: 10px;
    bottom: calc(100% + 5px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 24px;
    padding: 0 5px;
    border-radius: 3px;
    z-index: 15;
    gap: 5px;
    /* background: #2f74f5; */
    background: #0E57A4;
}

.product-card-separar span{
    line-height: normal !important;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: var(--white);
}

.product-card-separar p,
.product-card-separar p b{
    font-size: 12px;
    color: var(--white);
}

.product-card-prices{
    width: 100%;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}

.product-card-prices > div p{
    text-decoration: line-through !important;
}

.product-card-prices > div p:nth-child(1){
    font-size: 15px;
    color: #A9A9A9;
}

.product-card-prices > div p:nth-child(2){
    font-size: 20px;
    color: #FF0000;
}

.product-card-prices > p{
    font-weight: bold;
    font-size: 28px;
    color: var(--color-1);
}

.product-card.agotado:hover{
    border: 1px solid #FF0000;
}

.product-card-agotado{
    background: #FF0000;
}

.product-card-agotado span{
    color: var(--white);
}

.product-card-name{
    font-size: 14px;
    transition: var(--t-200ms-linear);
    color: #333333;
    /* font-weight: bold; */
}

.product-card:hover .product-card-content .product-card-name{
    color: var(--black);
}

@media screen and (max-width: 800px){
    .product-card{
        min-height: 340px;
    }
}

@media screen and (max-width: 600px){
    :root{
        --product-card-images-height: 160px;
    }

    .product-card{
        min-height: 300px;
    }

    .product-card-prices > div p:nth-child(1){
        font-size: 13px;
    }

    .product-card-prices > div p:nth-child(2){
        font-size: 16px;
    }

    .product-card-prices > p{
        font-size: 24px;
    }
}
