.hp-categories-container{
    overflow-x: auto;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    position: relative;
}

.hp-categories-container::-webkit-scrollbar{
    display: none;
}

.hp-categories{
    display: grid;
    grid-template-columns: repeat(7, 300px);
    gap: 5px;
}

.hp-category{
    display: flex;
    flex-direction: column;
}

.hp-category a{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: var(--t-200ms-linear);
}

.hp-category a:hover{
    gap: 5px;
}

.hp-category a div{
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.hp-category a div img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: var(--t-200ms-linear);
}

.hp-category a div:hover img{
    scale: 1.075;
}

.hp-category a div::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hp-category a div p{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    color: var(--white);
    z-index: 2;
}

.hp-category a h3{
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
    color: var(--color-1);
    transition: var(--t-200ms-linear);
}

.hp-cat-scroll-controler{
    margin: auto;
    width: 350px;
    height: 6px;
    background: var(--component);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.hp-cat-scroll-thumb{
    height: 100%;
    background: var(--color-1);
    border-radius: 10px;
    display: block;
    cursor: grab;
    min-width: 30px;
}

@media screen and (max-width: 600px){
    .hp-categories{
        grid-template-columns: repeat(7, 240px);
    }

    .hp-cat-scroll-controler{
        width: 100px;
    }
}
