.homepage-categories{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.homepage-categories-target-1{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0 44px;
}

.videos-tiktok{
    width: 100%;
    height: 100%;
    display: flex;
}

.videos-tiktok video{
    margin: auto;
    width: 320px;
    height: 440px;
}

.hp-cat-vid-tk-button{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
}

.hp-cat-vid-tk-button-left{
    left: 0;
}

.hp-cat-vid-tk-button-right{
    right: 0;
}

.hp-cat-vid-tk-button-left span,
.hp-cat-vid-tk-button-right span{
    font-size: 36px;
    color: var(--color-1);
}

.homepage-categories-target-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-categories-target-2 ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.homepage-categories-target-2 ul li{
    display: flex;
    width: 100%;
    height: 140px;
}

.hp-cat-link{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid var(--color-1);
}

.hp-cat-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    transition: var(--t-200ms-linear);
    z-index: -1;
}

.hp-cat-link:hover img{
    scale: 1.1;
}

.hp-cat-link::before{
    content: '';
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: rgba(0 0 0 / 0.15);
    transition: var(--t-200ms-linear);
    z-index: 0;
}

.hp-cat-link:hover::before{
    background: rgba(0 0 0 / 0.35);
}

.hp-cat-link p{
    position: absolute;
    left: 50%;
    bottom: 0;
    /* bottom: 5px; */
    translate: -50% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    background: var(--color-1);
    color: var(--white);
    padding: 3px 5px;
    border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 600px){
    .homepage-categories{
        display: flex;
        flex-direction: column-reverse;
    }

    .homepage-categories-target-1{
        padding: 0;
    }

    .homepage-categories-target-2 ul{
        grid-template-columns: repeat(2, 1fr);
    }

    .homepage-categories-target-2 ul li{
        height: 110px;
    }

    .homepage-categories-target-2 ul li:nth-child(3){
        grid-column: 1/-1;
        height: 140px;
    }

    .hp-cat-link{
        height: 100%;
    }

    .hp-cat-link p{
        font-size: 14px;
    }
}
