.hp-slider-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.hp-slider-content > div{
    width: 100%;
    height: 100%;
}

.hp-slider-content > div ul{
    display: flex;
    width: 300%;
    /* height: 540px; */
    transition: all 500ms linear;
}

.hp-slider-content > div ul li{
    display: flex;
    width: 100%;
    height: 100%;
}

.hp-slider-content > div ul li a{
    display: flex;
    width: 100%;
    height: 100%;
}

.hp-slider-content > div ul li a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hp-slider-content > button{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0 0 0 / 0.2);
    transition: var(--t-200ms-linear);
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.hp-slider-content > button:hover{
    background: rgba(0 0 0 / 0.45);
}

.hp-slider-button-1{
    left: 10px;
}

.hp-slider-button-2{
    right: 10px;
}

.hp-slider-content > button span{
    font-size: 32px;
    color: var(--white);
}

.hp-slider-buttons{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.hp-slider-buttons button{
    cursor: pointer;
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: rgba(0 0 0 / 0.25);
}

.hp-slider-buttons button.active{
    width: 30px;
    background: var(--color-1);
}

@media (max-width: 768px) {
    .hp-slider-content > div ul {
        height: 300px;
    }

    .hp-slider-content > button {
        width: 36px;
    }

    .hp-slider-content > button span {
        font-size: 24px;
    }
}
