.block-container.about-us-container{
    background: var(--color-1);
    padding: 20px;
}

.block-container.about-us-container .block-title{
    margin: auto;
    color: var(--white);
    text-transform: uppercase;
}

.about-us-brands{
    width: 100%;
    display: none;
}

.about-us-content > .d-grid-2-1fr.gap-20 .d-grid-4-1fr.gap-10 img{
    height: 360px;
    border-radius: 4px;
}

@media screen and (max-width: 600px){
    .block-container.about-us-container{
        padding: 40px 10px !important;
    }

    .about-us-brands{
        display: none;
    }
}
